




h1 {font-family: 'Raleway', sans-serif; }

.jumbotron{ background-color:transparent;
			padding-top:4em;

}

#bar {
	padding-left: 0.5em;
	padding-right:0.5em;
}

#question {font-family: 'Cormorant Garamond', serif; 
		   font-size: 2em; 
		   padding-left:2em;
		   padding-right:2em;
		}

#next { 
    position: static;
    margin:100px 50px;
    }

#submit { 
    position: static;
    margin:100px 50px;
    }
    
#industry { 
	position: static;
	margin-top: 3em;
	margin-left:7em;
	margin-right: 7em;
}

#skillset { 
	
	}

#skill {
	text-align:left;
}

.container-fluid {
	margin:1.2em;

}

#addskill {
	margin-left: auto;
}

#current {
	
}