




h1 {font-family: 'Raleway', sans-serif; }


#taketest {font-family: 'Cormorant Garamond', serif; 
		   font-size: 1.5em; 
		   position:block;
		   text-align: center;
		   margin-top:5em;
}


#bighead { text-align:center;
			margin-top:5em;
			margin-bottom:18em;
}



.jumbotron{ background-color:transparent;
			padding-top:4em;

}

#bar {
	padding-left: 0.5em;
	padding-right:0.5em;
}

#question {font-family: 'Cormorant Garamond', serif; 
		   font-size: 1.5em; 
		   padding-left:1em;
		   padding-right:1em;
		}

#start { 
    position: static;
    margin:100px 50px;
    }

#next { 
    position: static;
    margin:100px 50px;
    }

#submit { 
    position: static;
    margin:100px 50px;
    }
    
#industry { 
	position: static;
	margin-top: 3em;
	margin-left:7em;
	margin-right: 7em;
}

#skillset { 
	
	}

#skill {
	text-align:left;
}

.container-fluid {
	margin:1.2em;

}

#addskill {
	margin-left: auto;
}

#current {
	
}

#match {
	text-align:left;
	position:center;
	background-color:transparent;
	margin-top: 2em;

}

#gopivot {
	position: static;
    margin:100px 50px;

}

















