


h1 {font-family: 'Raleway', sans-serif; }

h2 {font-family: 'Raleway', sans-serif; 
	font-size:25px;
}

#thankyou{
	padding-left:1.7em;
	padding-top:3em;
	padding-bottom: 2em;
	margin-bottom: 1em;
	background-color:#007EDD;
	color:white;
}


#bighead { text-align:center;
			margin-top:10em;

}


#taketest {font-family: 'Cormorant Garamond', serif; 
		   font-size: 1.5em; 
		   position:block;
		   text-align: center;
		   margin-top:1em;
}





.jumbotron { background-color:transparent;
			padding-top:3em;
			padding-bottom:2em;
			margin-bottom: -1em:;

}

#bar {
	padding-left: 0.5em;
	padding-right:0.5em;
}

#question {font-family: 'Cormorant Garamond', serif; 
		   font-size: 1.5em; 
		   padding-left:1em;
		   padding-right:1em;
		}

#start { 
    position: static;
    margin:200px 50px;
    }

#next { 
    position: static;
    margin-bottom:100px;
    margin-left:50px;
    margin-right:50px;
    margin-top:70px;
    }

#submit { 
    position: static;
    margin-bottom:100px;
    margin-left:50px;
    margin-right:50px;
    margin-top:70px;
    }
    
#industry { 
	position: static;
	margin-top: 3em;
	margin-left:8em;
	margin-right: 7em;

}




#skill {
	text-align:left;
}

.container-fluid {
	margin:1.2em;

}

#addskill {
	margin-left: auto;
}

#current {
		margin-left:6em;
}

#expect {
		margin-left:6em;
}

#wish {
		margin-left:6em;
}

#match {
	text-align:left;
	position:center;
	background-color:transparent;
	margin-top: 2em;
	font-family: 'Raleway', sans-serif; 
}

#gopivot {
	position: static;
    margin:100px 50px;

}

















